body {
  margin: 0px;
  padding: 0px;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}

.div-container {
  margin: auto;
}

.search-bar {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
}
