body {
  margin: 0px;
  padding: 0px;
}

/* .event-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
} */

.event-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  overflow-x: scroll;
}
